@model List<Appointment_WEB.Models.AppointmentModel>

<style>
    .table-container {
        overflow-x: auto;
        max-width: 100%;
    }

    .appointments-table {
        border-collapse: collapse;
        width: 100%;
    }

        .appointments-table th, .appointments-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

    .appointment {
        color: #fff;
        border-radius: 4px;
        padding: 5px;
        background: linear-gradient(to bottom, #007bff, #0056b3); /* Example gradient from blue to a darker blue */
    }

    .title {
        font-weight: bold;
        font-size: 1.2em;
    }

    .description{
        font-size: 0.8em;
    }

</style>

<div class="table-container">
    <table class="appointments-table">
        <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            @for (var hour = 8; hour <= 20; hour++)
            {
                <tr>
                    <th>@hour:00 AM</th>
                    @for (var day = 0; day <= 6; day++)
                    {

                        <td>
                            @if (true)
                            {
                                
                                var appointment = Model.FirstOrDefault(a =>
                                a.day == (Day)day &&
                                a.startTime <= new TimeSpan(hour,0,0) && a.endTime > new TimeSpan(hour,0,0)
                                );

                                <div class="appointment-cell">
                                    @if (appointment != null)
                                    {
                                        <div class="appointment">
                                            <div class="title">@appointment.title</div>
                                            <div class="description">@appointment.description</div>
                                        </div>
                                    }
                                </div>
                            }

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
